@media screen and (max-width: 900px) {
  /* Specific to this particular image */
  #first_l {
    display: none;
  }

  #first_r {
    width: 100%;
    height: auto;
    padding: 20px 40px 0 40px;
  }

  #dawn {
    display: none;
  }

  .dawn1 {
    display: block;
  }

  #wrapper {
    width: 600px;
  }

  .contact {
    width: 75vw;
  }
}
@media screen and (max-width: 600px) {
  #wrapper {
    width: 90vw;
  }

  
.order {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  /*float: left;*/
  width: auto;
  height: auto;
}
.order a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.order a:hover {
  cursor: pointer;
}
.order span {
  box-sizing: border-box;
  position: absolute;
  display: none;
  text-align: center;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  
}


  #scroller {
    display: none;
  }

  #send {
    width: 100%;
  }
}

/*Navigation*/
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background-color: #000 !important;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom,
.navbar-brand,
.navbar-toggle {
  padding: 10px;
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}
.menu_img {
  padding-top: 10px;
}

.page-scroll {
  font-size: 12px;
}

@media (min-width: 768px) {
  .logo > img {
    padding-top: 10px;
  }
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #000;
  }
  #nav-modified {
    margin-left: 3%;
  }

  .sm-links {
    position: absolute;
  }
    #first_r {
    padding-top: 10%;
  }
}
@media (max-width: 767px) {
  .logo > img {
    padding-top: 10px;
  }
  .career-btn,
  .sm-links {
    float: right;
  }
  .sm-links {
    position: relative;
  }
    #first_r {
      padding-top: 16%;
  }
    .sm-links {
    float: right;
    position: relative !important;
  }
}
.sm-links {
  padding: 10px;
  right: 0;
  top: 0;
  position: absolute;
}